
<div class='row'>
	<div class='col-1'></div>
	<div class='col-8'><h1>My Restaurant</h1></div>
	
</div>
<div class='row'>
	<div class='col-1'></div>
	<div class='col-4'>
		<address>9B/3A Nguyễn Thị Nhỏ <br>
			Phường 15<br>
			Quận 11<br>
			Hồ Chí Minh<br>
			Vietnam<br>
			+84 123456789<br>
			Open: 7:30AM–10:30PM
		</address>
	</div>
	<div>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1959.7750448307474!2d106.65243353892149!3d10.76911569943165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752eeab232908f%3A0x18d6d63d57c51a1b!2zOUIvM0EgTmd1eeG7hW4gVGjhu4sgTmjhu48sIFBoxrDhu51uZyAxNSwgUXXhuq1uIDExLCBI4buTIENow60gTWluaCwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1535847184444" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
</div>
